@forward '../globals';

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2em;
    background-color: var(--heavy-gray);
    color: var(--white-color);
    padding: 2em;

    &__title{
        font: {
            weight: 400;
            size: 1.35em;
        }
        text: {
            transform: uppercase;
        }
    }

    &__post{

        padding: .5em 1em;
        display: flex;
        align-items: center;
        gap: 1em;
        &:hover{
            background-color: var(--gray-color);
            cursor: pointer;
        }

        &:first-child{
            border-bottom: .081em solid #FFFFFFa2;
        }
    }

    &__link{
        color: var(--white-color);
    }

    &__post-img{
        width: 3.5em;
        height: 3.5em;
    }

    &__post-content{
        font: {
            weight: 400;
            size: 1.1em;
        }
        margin: 0;
    }

    &__tags-list{
        display: inline-block;
       
    }

    &__tag{
        font-size: .8em;
        color: var(--black-color);
        padding: .2em .5em;
        display: inline-block;
        margin-bottom: .5em;
        background-color: var(--light-gray);

        &:first-child{
            color: var(--white-color);
            background-color: var(--black-color);
        }
    }
}

// MOBILE VERSION 

@media only screen and (max-width: 37.5em) {
    .footer{

        display: block;
    }
    
}